@charset "UTF-8";
#main4_box .main4_top_content .main4_t_m2 .box-title, #main4_box .main4_top_content .main4_t_right .box-title {
  font-size: 20px;
  color: #3c3c3c;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #e8e8e8;
  position: relative;
}

#main {
  width: 100%;
  overflow: hidden;
}

#main1_box {
  width: 100%;
  background: url(../img/bg1.webp) no-repeat;
  background-size: 100% 100%;
  height: 500px;
}
#main1_box #main1_top {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 1400px;
  margin: 0 auto;
}
#main1_box #main1_top .logo {
  float: left;
  padding-top: 30px;
}
#main1_box #main1_top .m1_nav {
  float: left;
  overflow: hidden;
  padding-top: 50px;
}
#main1_box #main1_top .m1_nav > ul {
  float: left;
  padding-left: 45px;
}
#main1_box #main1_top .m1_nav > ul > li {
  line-height: 24px;
  color: #DFE2ED;
  font-size: 14px;
}
#main1_box #main1_top .m1_nav > ul > li a {
  color: #DFE2ED;
}
#main1_box #main1_top .m1_nav > ul li:nth-child(1) {
  font-weight: 800;
}
#main1_box #main1_top .m1_nav > ul li:nth-child(1) a {
  color: #fefefe;
}

#main2_box {
  width: 100%;
  height: 405px;
  background: url(../img/bg2.webp) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#main2_box #main2 {
  position: absolute;
  width: 1400px;
  margin: 0 auto;
  height: 460px;
  top: -55px;
  margin-left: -700px;
  left: 50%;
  overflow: hidden;
}
#main2_box #main2 .m2_left {
  float: left;
  width: 190px;
  height: 460px;
  overflow: hidden;
}
#main2_box #main2 .m2_left .m2_left_top {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 280px;
}
#main2_box #main2 .m2_left .m2_left_top .down_load {
  overflow: hidden;
  height: 140px;
  background: url(../img/all.png) no-repeat -190px 0;
  border-bottom: 1px solid #d43742;
}
#main2_box #main2 .m2_left .m2_left_top .down_load .pc_load {
  margin-left: 70px;
  margin-top: 32px;
  overflow: hidden;
  width: 50px;
  height: 44px;
  background: url(../img/all.png) no-repeat -215px -230px;
}
#main2_box #main2 .m2_left .m2_left_top .down_load .pc_load .down {
  margin-top: 6px;
  margin-left: 14px;
  width: 20px;
  height: 24px;
  background: url(../img/all.png) -356px -204px;
}
#main2_box #main2 .m2_left .m2_left_top .down_load p {
  font-size: 20px;
  text-align: center;
  color: #fefefe;
  padding-top: 10px;
}
#main2_box #main2 .m2_left .m2_left_top .down_load .small_font {
  padding-top: 0;
  font-size: 14px;
  color: #f7b0b4;
}
#main2_box #main2 .m2_left .m2_left_top .down_load .phone_load {
  margin-left: 77px;
  margin-top: 22px;
  overflow: hidden;
  width: 35px;
  height: 48px;
  background: url(../img/all.png) no-repeat -180px -230px;
}
#main2_box #main2 .m2_left .m2_left_top .down_load .phone_load .down {
  margin-top: 14px;
  margin-left: 6px;
  width: 20px;
  height: 24px;
  background: url(../img/all.png) -356px -204px;
}
#main2_box #main2 .m2_left .m2_left_bottom {
  background: #3b8bed;
  height: 59px;
  width: 190px;
  border-bottom: 1px solid #2a73cc s;
  overflow: hidden;
}
#main2_box #main2 .m2_left .m2_left_bottom .m2_register {
  float: left;
  margin-left: 30px;
  margin-top: 12px;
  background: url(../img/all.png) -119px -290px;
  width: 25px;
  height: 33px;
}
#main2_box #main2 .m2_left .m2_left_bottom .m2_Recharge {
  float: left;
  margin-left: 27px;
  margin-top: 15px;
  background: url(../img/all.png) -159px -330px;
  width: 30px;
  height: 33px;
}
#main2_box #main2 .m2_left .m2_left_bottom .m2_service {
  float: left;
  margin-left: 30px;
  margin-top: 15px;
  background: url(../img/all.png) -275px -202px;
  width: 22px;
  height: 27px;
}
#main2_box #main2 .m2_left .m2_left_bottom p {
  float: left;
  padding-left: 15px;
  line-height: 60px;
  color: #fefefe;
}
#main2_box #main2 .m2_banner {
  float: left;
  height: 460px;
  width: 460px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  overflow: hidden;
}
#main2_box #main2 .m2_banner_small {
  height: 56px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}
#main2_box #main2 .m2_banner_small li {
  position: relative;
  width: 92px;
  line-height: 56px;
  float: left;
  text-align: center;
  color: #8b8989;
  font-size: 14px;
}
#main2_box #main2 .m2_banner_small li .gang {
  width: 1px;
  position: absolute;
  height: 9px;
  background: #8b8989;
  right: 0;
  top: 24px;
}
#main2_box #main2 .m2_banner_small li .left_gang {
  width: 1px;
  position: absolute;
  height: 9px;
  background: #8b8989;
  left: 0;
  top: 24px;
}
#main2_box #main2 .m2_tab {
  position: relative;
  z-index: 1;
  width: 458px;
  height: 460px;
  float: left;
  background: #fefefe;
  margin-left: 20px;
  overflow: hidden;
}
#main2_box #main2 .m2_tab .m2_tab_ul {
  width: 400px;
  height: 64px;
  position: relative;
}
#main2_box #main2 .m2_tab .m2_tab_ul li {
  float: left;
  padding: 0 20px;
  line-height: 64px;
  font-size: 16px;
  cursor: pointer;
  color: #3c3c3c;
  position: relative;
}
#main2_box #main2 .m2_tab .m2_tab_ul .nav-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  background: #f24854;
  width: 72px;
}
#main2_box #main2 .m2_tab .m2_tab_ul .more {
  font-size: 14px;
  position: absolute;
  right: -33px;
  bottom: 20px;
}
#main2_box #main2 .m2_tab .m2_tab_main {
  overflow: hidden;
}
#main2_box #main2 .m2_tab .m2_tab_main li {
  display: none;
}
#main2_box #main2 .m2_tab .m2_300 {
  width: 420px;
  margin: 0 auto;
  height: 160px;
  border-bottom: 1px dashed #999;
}
#main2_box #main2 .m2_tab .m2_300 .img_box {
  width: 150px;
  height: 114px;
  margin-top: 24px;
  margin-left: 20px;
  float: left;
}
#main2_box #main2 .m2_tab .m2_300 .img_box img {
  width: 100%;
}
#main2_box #main2 .m2_tab .m2_300 .f_li_top {
  width: 225px;
  float: left;
  margin-left: 25px;
  padding-top: 12px;
}
#main2_box #main2 .m2_tab .m2_300 .f_li_top .p1 {
  font-size: 14px;
  color: #f24854;
  line-height: 40px;
}
#main2_box #main2 .m2_tab .m2_300 .f_li_top .p2 {
  width: 225px;
  font-size: 14px;
  line-height: 24px;
}
#main2_box #main2 .m2_tab .m2_300 .f2_li_top {
  width: 100%;
}
#main2_box #main2 .m2_tab .m2_300 .f2_li_top .p1 {
  font-size: 14px;
  color: #f24854;
  line-height: 40px;
}
#main2_box #main2 .m2_tab .m2_300 .f2_li_top .p2 {
  line-height: 24px;
  font-size: 14px;
}
#main2_box #main2 .m2_tab .f1_content {
  width: 420px;
  margin: 0 auto;
  overflow: hidden;
}
#main2_box #main2 .m2_tab .f1_content .f1_con_p1 {
  margin-top: 14px;
  height: 38px;
  background: #f5f7f9;
}
#main2_box #main2 .m2_tab .f1_content .f1_con_p1 .span1 {
  display: inline-block;
  background: #f24854;
  color: #fefefe;
  text-align: center;
  height: 38px;
  width: 38px;
  position: relative;
  line-height: 38px;
  font-size: 14px;
  margin-right: 10px;
}
#main2_box #main2 .m2_tab .f1_content .f1_con_p1 .span1 i {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  right: -9px;
  top: 15px;
  border-color: transparent transparent transparent #f24854;
}
#main2_box #main2 .m2_tab .f1_content .f1_con_p1 .span3 {
  font-size: 14px;
  font-weight: 700;
}
#main2_box #main2 .m2_tab .f1_content .m2_f1_b1 {
  line-height: 32px;
  color: #f24854;
  font-size: 14px;
}
#main2_box #main2 .m2_tab .f1_content p {
  line-height: 32px;
  color: #3C3C3C;
  font-size: 14px;
}
#main2_box #main2 .m2_right {
  float: right;
  width: 230px;
  height: 460px;
  position: relative;
  z-index: 1;
  background: #fefefe;
  overflow: hidden;
}
#main2_box #main2 .m2_right p {
  width: 200px;
  margin: 0 auto;
  line-height: 28px;
  font-size: 14px;
  height: 28px;
}
#main2_box #main2 .m2_right p a {
  color: #2b2b2b;
}
#main2_box #main2 .m2_right .bottom_div {
  margin-top: 20px;
  height: 80px;
  width: 100%;
  background: #3b8bed;
  position: relative;
}
#main2_box #main2 .m2_right .bottom_div a {
  float: left;
  display: inline-block;
  text-align: center;
  width: 50%;
  line-height: 80px;
  color: #fefefe;
  font-size: 16px;
}
#main2_box #main2 .m2_right .bottom_div a:hover {
  background: #2a7bdf;
}
#main2_box #main2 .m2_right .bottom_div .gang {
  position: absolute;
  width: 1px;
  height: 20px;
  background: #7ab0f3;
  top: 50%;
  left: 50%;
  margin-top: -10px;
}
#main2_box #main2 .m2_right .bottom_div:hover .gang {
  display: none;
}

#main3_box {
  width: 100%;
  height: 1060px;
  background: url(../img/bg3.webp);
  background-size: 100% 100%;
  padding-top: 20px;
}
#main3_box #main3 {
  width: 1400px;
  margin: 0 auto;
  height: 800px;
}
#main3_box #main3 .main3_top_content {
  height: 380px;
  width: 100%;
  overflow: hidden;
}
#main3_box #main3 .main3_top_content .main3_left {
  float: left;
  position: relative;
  z-index: 1;
  width: 190px;
  height: 380px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_top {
  width: 190px;
  height: 62px;
  background-color: #08bad7;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_top .m3_l_d1 {
  margin-left: 20px;
  margin-top: 12px;
  float: left;
  width: 48px;
  height: 40px;
  background: url(../img/all.png) no-repeat -43px -288px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_top .m3_l_d2 {
  margin-left: 5px;
  margin-top: 14px;
  float: left;
  width: 73px;
  height: 38px;
  background: url(../img/all.png) no-repeat -262px -154px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main {
  height: 318px;
  background: #00a5c0;
  width: 100%;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li {
  height: 63px;
  line-height: 63px;
  cursor: pointer;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li div {
  float: left;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li .m3_l_bg1 {
  background: url(../img/all.png) no-repeat -97px -330px;
  height: 32px;
  width: 34px;
  margin-left: 30px;
  margin-top: 15px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li .m3_l_bg2 {
  background: url(../img/all.png) no-repeat -91px -289px;
  height: 34px;
  width: 28px;
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 4px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li .m3_l_bg3 {
  background: url(../img/all.png) no-repeat -64px -331px;
  height: 32px;
  width: 32px;
  margin-left: 30px;
  margin-top: 15px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li .m3_l_bg4 {
  background: url(../img/all.png) no-repeat -204px -288px;
  height: 32px;
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li .m3_l_bg5 {
  background: url(../img/all.png) no-repeat -189px -202px;
  height: 28px;
  width: 31px;
  margin-left: 30px;
  margin-top: 15px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li span {
  float: left;
  color: #fefefe;
  font-size: 16px;
  margin-left: 10px;
}
#main3_box #main3 .main3_top_content .main3_left .m3_l_main li:hover {
  background: #0197b0;
}
#main3_box #main3 .main3_top_content .main3_middle {
  float: left;
  height: 380px;
  width: 652px;
  padding: 0 20px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  background: #fefefe;
  overflow: hidden;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_m_top {
  position: relative;
  width: 100%;
  font-size: 20px;
  line-height: 60px;
  height: 59px;
  border-bottom: 1px solid #e8e8e8;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_m_top span {
  float: right;
  font-size: 14px;
  padding-top: 5px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_m_top .subscribe {
  width: 59px;
  height: 26px;
  position: absolute;
  right: 51px;
  top: 22px;
  background: url(../img/all.png) no-repeat -298px -200px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab {
  position: relative;
  height: 60px;
  width: 100%;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab li {
  cursor: pointer;
  float: left;
  width: 100px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab .m3-nav-line {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100px;
  height: 3px;
  background: #F24854;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main {
  height: 260px;
  width: 100%;
  overflow: hidden;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li {
  height: 100%;
  width: 100%;
  display: none;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box {
  position: relative;
  float: left;
  width: 260px;
  height: 236px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box img {
  width: 100%;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi {
  margin-top: 150px;
  margin-left: 20px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi div {
  width: 25px;
  height: 1px;
  background: #fff;
  margin-bottom: 5px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi p {
  color: #fff;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi .p1 {
  font-size: 16px;
  line-height: 30px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi .p2 {
  font-size: 14px;
  line-height: 30px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li .li_img_box .img_mb:hover {
  background: rgba(0, 0, 0, 0.3);
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li ul {
  width: 350px;
  float: left;
  margin-left: 20px;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li ul li {
  cursor: pointer;
  width: 100%;
  line-height: 36px;
  font-size: 14px;
  height: 36px;
  color: #3C3C3C;
  border-bottom: 1px dotted #999;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li ul .m3_li1 {
  font-size: 16px;
  color: #f24854;
}
#main3_box #main3 .main3_top_content .main3_middle .m3_tab_main > li ul .m3_li1 span {
  display: inline-block;
  width: 40px;
  height: 24px;
  color: #fff;
  background: #f24854;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}
#main3_box #main3 .main3_top_content .main3_middle1 {
  float: left;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 190px;
  padding: 0 20px;
  height: 380px;
  background: #FEFEFE;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_top {
  height: 59px;
  line-height: 60px;
  font-size: 20px;
  border-bottom: 1px dotted #999;
  overflow: hidden;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_top span {
  float: right;
  padding-top: 10px;
  font-size: 14px;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_img_box {
  position: relative;
  width: 190px;
  height: 90px;
  overflow: hidden;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_img_box img {
  width: 100%;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_img_box .mb {
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_img_box .mb_wen {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: #fefefe;
  width: 190px;
  text-align: center;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_img_box .video {
  width: 27px;
  height: 0px;
  background: url(../img/all.png) no-repeat -220px -202px;
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: -13px;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_ul {
  width: 100%;
}
#main3_box #main3 .main3_top_content .main3_middle1 .m3_m1_ul li {
  cursor: pointer;
  width: 100%;
  line-height: 36px;
  font-size: 14px;
  height: 36px;
  color: #3C3C3C;
  border-bottom: 1px dotted #999;
}
#main3_box #main3 .main3_top_content .main3_right {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  width: 230px;
  margin-left: 18px;
}
#main3_box #main3 .main3_top_content .main3_right p {
  width: 100%;
  height: 80px;
  background: #00a5c0;
  position: relative;
}
#main3_box #main3 .main3_top_content .main3_right p a {
  float: left;
  width: 50%;
  line-height: 80px;
  height: 80px;
  font-size: 16px;
  color: #FEFEFE;
  text-align: center;
}
#main3_box #main3 .main3_top_content .main3_right p a:hover {
  background: #2A73CC;
}
#main3_box #main3 .main3_top_content .main3_right p span {
  position: absolute;
  width: 1px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  background: #52c2d4;
}
#main3_box #main3 .main3_top_content .main3_right p:hover span {
  display: none;
}
#main3_box #main3 .main3_middle_content {
  margin-top: 20px;
  height: 380px;
  width: 100%;
  overflow: hidden;
}
#main3_box #main3 .main3_middle_content .m3_m_left {
  float: left;
  position: relative;
  z-index: 1;
  width: 150px;
  height: 380px;
  padding: 0 20px;
  background: #445366;
}
#main3_box #main3 .main3_middle_content .m3_m_left .m3_m_l_top {
  height: 59px;
  line-height: 60px;
  border-bottom: 1px solid #999;
  overflow: hidden;
  font-size: 20px;
  color: #a8bed2;
}
#main3_box #main3 .main3_middle_content .m3_m_left .m3_m_l_main {
  width: 100%;
}
#main3_box #main3 .main3_middle_content .m3_m_left .m3_m_l_main li {
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #a8bed2;
}
#main3_box #main3 .main3_middle_content .m3_m_middle {
  float: left;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  background: #FEFEFE;
  width: 900px;
  padding: 0 20px;
  height: 100%;
  overflow: hidden;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_m_top {
  width: 100%;
  font-size: 20px;
  line-height: 60px;
  height: 59px;
  border-bottom: 1px solid #e8e8e8;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_m_top span {
  cursor: pointer;
  float: right;
  font-size: 14px;
  padding-top: 5px;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_tab {
  position: relative;
  height: 60px;
  width: 100%;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_tab li {
  cursor: pointer;
  float: left;
  width: 100px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_tab .m3_m_line {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100px;
  height: 3px;
  background: #F24854;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main {
  width: 100%;
  height: 236px;
  overflow: hidden;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li {
  display: none;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgbox {
  position: relative;
  float: left;
  width: 260px;
  height: 100%;
  overflow: hidden;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgbox img {
  width: 100%;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgbox div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgbox .img_test {
  position: absolute;
  bottom: 10px;
  width: 260px;
  left: 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgbox .xianti {
  background: url(../img/all.png) no-repeat -265px -230px;
  position: absolute;
  bottom: 40px;
  height: 0;
  width: 44px;
  left: 50%;
  margin-left: -22px;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgul {
  width: 640px;
  float: left;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgul li {
  position: relative;
  float: left;
  margin-left: 15px;
  margin-bottom: 10px;
  height: 112px;
  overflow: hidden;
  width: 145px;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgul li img {
  width: 100%;
  height: 100%;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgul li div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgul li .li_img_test {
  position: absolute;
  bottom: -16px;
  width: 110px;
  padding: 0 20px;
  left: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#main3_box #main3 .main3_middle_content .m3_m_middle .m3_m_main > li .m3_m_l_imgul li .li_pic {
  background: url(../img/all.png) no-repeat -247px -202px;
  position: absolute;
  bottom: 26px;
  height: 0px;
  width: 27px;
  left: 50%;
  margin-left: -13px;
}
#main3_box #main3 .main3_middle_content .m3_m_right {
  float: left;
  width: 190px;
  height: 100%;
  overflow: hidden;
  margin-left: 20px;
  background: #FEFEFE;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}
#main3_box #main3 .main3_middle_content .m3_m_right .m3_m_top {
  width: 100%;
  font-size: 20px;
  line-height: 60px;
  height: 59px;
  border-bottom: 1px solid #e8e8e8;
}
#main3_box .main3_bottom_content {
  height: 230px;
  width: 100%;
  background: #71b5fd;
  position: relative;
}
#main3_box .main3_bottom_content .left_tree {
  position: absolute;
  width: 251px;
  height: 206px;
  background: url(../img/left_tree.png) no-repeat center top;
  left: 50%;
  top: -182px;
  margin-left: -955px;
}
#main3_box .main3_bottom_content .right_tree {
  position: absolute;
  width: 264px;
  height: 264px;
  background: url(../img/right_tree.png) no-repeat center top;
  left: 50%;
  margin-left: 690px;
  top: 85px;
}
#main3_box .main3_bottom_content .part-con {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
}
#main3_box .main3_bottom_content .part-con h4 {
  float: left;
  color: #d8e8fb;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  height: 60px;
  width: 190px;
  padding: 85px 0;
  background-color: #3b8bed;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-image: url(../img/all.png);
}
#main3_box .main3_bottom_content .part-con ul {
  float: left;
  overflow: hidden;
}
#main3_box .main3_bottom_content .part-con ul li {
  float: left;
  width: 302px;
  background-repeat: no-repeat;
  background-position: right top;
  height: 230px;
}
#main3_box .main3_bottom_content .part-con ul li a {
  position: relative;
  display: block;
  padding: 72px 80px 0 52px;
  cursor: pointer;
}
#main3_box .main3_bottom_content .part-con ul li a em {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main3_box .main3_bottom_content .part-con ul li a .data {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main3_box .main3_bottom_content .part-con ul li a .i-go {
  margin-top: 5px;
  line-height: 22px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 68px;
  height: 22px;
  color: #3b8bed;
  text-indent: 17px;
  background-repeat: no-repeat;
  background-position: -380px 0px;
  background-image: url(../img/all.png);
  padding-left: 0;
}
#main3_box .main3_bottom_content .part-con ul li a .i-go i {
  position: absolute;
  width: 4px;
  height: 7px;
  top: 50%;
  margin-top: -4px;
  right: 17px;
  background-repeat: no-repeat;
  background-position: -428px -22px;
  background-image: url(../img/all.png);
}
#main3_box .main3_bottom_content .part-con ul li:nth-child(1) {
  background-image: url(../img/lz.png);
}
#main3_box .main3_bottom_content .part-con ul li:nth-child(2) {
  background-image: url(../img/sj.png);
}
#main3_box .main3_bottom_content .part-con ul li:nth-child(3) {
  background-image: url(../img/tz.png);
}
#main3_box .main3_bottom_content .part-con ul li:nth-child(4) {
  background-image: url(../img/xt.png);
}

#main4_box {
  width: 100%;
  height: 1080px;
  background: url(../img/bg4.webp) no-repeat;
  background-size: 100% 100%;
}
#main4_box .main4_top_content {
  position: relative;
  z-index: 1;
  width: 1400px;
  margin: 0 auto;
  height: 380px;
}
#main4_box .main4_top_content .main4_t_left {
  background: #445366;
  height: 380px;
  color: #b3bed2;
  width: 190px;
  display: block;
  float: left;
}
#main4_box .main4_top_content .main4_t_left .box-title {
  color: #b3bed2;
  text-align: center;
  border-bottom-color: #808a97;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #e8e8e8;
  position: relative;
}
#main4_box .main4_top_content .main4_t_left .search-box {
  margin: 13px 20px;
  border: solid 1px #808a97;
  background: #394657;
  position: relative;
  overflow: hidden;
  color: #b3bed2;
  z-index: 1;
}
#main4_box .main4_top_content .main4_t_left .search-box input {
  display: block;
  font-size: 14px;
  height: 16px;
  padding: 8px 28px 8px 8px;
  border: 0;
  background: 0 0;
  color: #b3bed2;
  width: 110px;
}
#main4_box .main4_top_content .main4_t_left .search-box a {
  text-indent: -9999px;
  position: absolute;
  width: 28px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  right: 0;
  background-repeat: no-repeat;
  background-position: -144px -288px;
  background-image: url(../img/all.png);
}
#main4_box .main4_top_content .main4_t_left .baike-box {
  margin: 0 20px;
}
#main4_box .main4_top_content .main4_t_left .baike-box a {
  display: block;
  width: 63px;
  padding: 0 6px;
  float: left;
  color: #b3bed2;
  line-height: 50px;
  font-size: 14px;
}
#main4_box .main4_top_content .main4_t_left .baike-box .btn-more2 {
  margin-top: 5px;
  width: 148px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  border: solid 1px #576576;
}
#main4_box .main4_top_content .main4_t_m1 {
  float: left;
  width: 420px;
  padding: 0 20px;
  height: 380px;
  background: #fefefe;
  overflow: hidden;
  margin-left: 20px;
}
#main4_box .main4_top_content .main4_t_m1 .box-title {
  font-size: 20px;
  color: #3c3c3c;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #e8e8e8;
  position: relative;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .news-nav {
  height: 42px;
  font-size: 0;
  position: relative;
  margin-top: -2px;
  margin-bottom: 20px;
  overflow: hidden;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .news-nav li {
  display: inline-block;
  line-height: 42px;
  color: #3c3c3c;
  font-size: 16px;
  width: 100px;
  text-align: center;
  border-top: transparent solid 3px;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .news-nav i {
  position: absolute;
  height: 3px;
  width: 100px;
  background: #f24854;
  top: 0;
  left: 0;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd {
  height: 236px;
  overflow: hidden;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li {
  display: none;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .mhtk-img {
  display: block;
  float: left;
  position: relative;
  width: 260px;
  overflow: hidden;
  height: 236px;
  text-align: center;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .mhtk-img img {
  width: 100%;
  height: 100%;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .mhtk-img div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .mhtk-img .img_test {
  position: absolute;
  bottom: 10px;
  width: 260px;
  left: 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .mhtk-img .xianti {
  background: url(../img/all.png) no-repeat -265px -230px;
  position: absolute;
  bottom: 40px;
  height: 0;
  width: 44px;
  left: 50%;
  margin-left: -22px;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .tuku-list {
  position: relative;
  overflow: hidden;
  height: 236px;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .tuku-list > li {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  width: 150px;
  height: 113px;
  overflow: hidden;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .tuku-list > li img {
  width: 100%;
  height: 100%;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .tuku-list > li div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background: rgba(0, 0, 0, 0.8);
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .tuku-list > li .li_img_test {
  position: absolute;
  bottom: -16px;
  width: 110px;
  padding: 0 20px;
  left: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#main4_box .main4_top_content .main4_t_m1 .bssp-box .slide-box-bd .slide-wrap > li .tuku-list > li .li_pic {
  background: url(../img/all.png) no-repeat -247px -202px;
  position: absolute;
  bottom: 26px;
  height: 0px;
  width: 27px;
  left: 50%;
  margin-left: -13px;
}
#main4_box .main4_top_content .main4_t_m2 {
  height: 380px;
  position: relative;
  width: 460px;
  float: left;
  margin-left: 20px;
  overflow: hidden;
  z-index: 1;
  background: #fefefe;
}
#main4_box .main4_top_content .main4_t_m2 .box-title {
  margin: 0 20px;
}
#main4_box .main4_top_content .main4_t_m2 .xbjx-box {
  padding: 0 20px;
}
#main4_box .main4_top_content .main4_t_m2 .xbjx-box .m2_news-nav {
  height: 42px;
  font-size: 0;
  position: relative;
  margin-top: -2px;
  margin-bottom: 20px;
  overflow: hidden;
}
#main4_box .main4_top_content .main4_t_m2 .xbjx-box .m2_news-nav li {
  cursor: default;
  display: inline-block;
  line-height: 42px;
  color: #3c3c3c;
  font-size: 16px;
  width: 100px;
  text-align: center;
  border-top: transparent solid 3px;
}
#main4_box .main4_top_content .main4_t_m2 .xbjx-box .m2_news-nav i {
  position: absolute;
  height: 3px;
  width: 100px;
  background: #f24854;
  top: 0;
  left: 0;
}
#main4_box .main4_top_content .main4_t_m2 .mhrd-item > li {
  overflow: hidden;
  display: none;
}
#main4_box .main4_top_content .main4_t_m2 .mhrd-item > li > ul {
  overflow: hidden;
  padding: 0 20px;
}
#main4_box .main4_top_content .main4_t_m2 .mhrd-item > li > ul > li {
  border-bottom: dotted 1px #dadada;
  position: relative;
  vertical-align: top;
}
#main4_box .main4_top_content .main4_t_m2 .mhrd-item > li > ul > li a {
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main4_box .main4_top_content .main4_t_m2 .mhrd-item > li > ul > li a .recommend {
  color: #f24854;
  font-size: 14px;
  width: 40px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background: #f24854;
  color: #fff;
  font-style: normal;
}
#main4_box .main4_top_content .main4_t_m2 .mhrd-item > li > ul li:first-child a {
  line-height: 24px;
  height: 24px;
  padding-bottom: 14px;
  padding-left: 49px;
  font-size: 16px;
}
#main4_box .main4_top_content .main4_t_right {
  width: 230px;
  float: right;
  height: 100%;
  overflow: hidden;
  background: #fefefe;
}
#main4_box .main4_top_content .main4_t_right .box-title {
  margin: 0 20px;
}
#main4_box .main4_top_content .main4_t_right div {
  cursor: pointer;
  padding: 0 20px;
  width: 190px;
  overflow: hidden;
}
#main4_box .main4_middle_content {
  position: relative;
  z-index: 1;
  width: 1400px;
  margin: 0 auto;
  height: 380px;
  margin-top: 20px;
}
#main4_box .main4_middle_content .main4_m_left {
  background: #445366;
  height: 380px;
  color: #b3bed2;
  width: 190px;
  display: block;
  float: left;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top {
  height: 242px;
  overflow: hidden;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav {
  font-size: 0;
  text-align: center;
  padding-top: 20px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav .status-03 {
  display: none;
  background: #6c7a92;
  height: 3px;
  width: 38px;
  position: absolute;
  top: 0;
  left: 26px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav a {
  display: inline-block;
  width: 38px;
  height: 39px;
  font-size: 0;
  border-top: solid 3px transparent;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav a i {
  background-image: url(../img/all.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
  width: 32px;
  height: 32px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav a:nth-child(2) i {
  background-position: -330px -288px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav a:nth-child(3) i {
  background-position: -266px -288px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav a:nth-child(4) i {
  background-position: -32px -331px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .public-nav a:nth-child(5) i {
  background-position: -298px -288px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .m4_tab_ul li {
  display: none;
  padding: 20px 0 15px;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .m4_tab_ul li img {
  display: block;
  height: 130px;
  width: 130px;
  margin: 0 auto;
}
#main4_box .main4_middle_content .main4_m_left .main4_m_l_top .m4_tab_ul li em {
  font-style: normal;
  display: block;
  width: 100%;
  text-align: center;
  color: #8d99ac;
  line-height: 22px;
}
#main4_box .main4_middle_content .main4_m_left .m4_l_b_ul {
  margin-left: 20px;
}
#main4_box .main4_middle_content .main4_m_left .m4_l_b_ul li a {
  display: block;
  padding-left: 6px;
  color: #b3bed2;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
}
#main4_box .main4_middle_content .main3_middle {
  float: left;
  height: 380px;
  width: 650px;
  padding: 0 20px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  background: #fefefe;
  overflow: hidden;
}
#main4_box .main4_middle_content .main3_middle .m3_m_top {
  position: relative;
  width: 100%;
  font-size: 20px;
  line-height: 60px;
  height: 59px;
  border-bottom: 1px solid #e8e8e8;
}
#main4_box .main4_middle_content .main3_middle .m3_m_top span {
  float: right;
  font-size: 14px;
  padding-top: 5px;
}
#main4_box .main4_middle_content .main3_middle .m3_m_top .subscribe {
  width: 59px;
  height: 26px;
  position: absolute;
  right: 51px;
  top: 22px;
  background: url(../img/all.png) no-repeat -298px -200px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab {
  position: relative;
  height: 60px;
  width: 100%;
}
#main4_box .main4_middle_content .main3_middle .m3_tab li {
  cursor: pointer;
  float: left;
  width: 100px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab .m3-nav-line {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100px;
  height: 3px;
  background: #F24854;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main {
  height: 260px;
  width: 100%;
  overflow: hidden;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li {
  height: 100%;
  width: 100%;
  display: none;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box {
  position: relative;
  float: left;
  width: 260px;
  height: 236px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box img {
  width: 100%;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi {
  margin-top: 150px;
  margin-left: 20px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi div {
  width: 25px;
  height: 1px;
  background: #fff;
  margin-bottom: 5px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi p {
  color: #fff;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi .p1 {
  font-size: 16px;
  line-height: 30px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb .wenzi .p2 {
  font-size: 14px;
  line-height: 30px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li .li_img_box .img_mb:hover {
  background: rgba(0, 0, 0, 0.3);
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li ul {
  width: 350px;
  float: left;
  margin-left: 20px;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li ul li {
  cursor: pointer;
  width: 100%;
  line-height: 36px;
  font-size: 14px;
  height: 36px;
  color: #3C3C3C;
  border-bottom: 1px dotted #999;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li ul .m3_li1 {
  font-size: 16px;
  color: #f24854;
}
#main4_box .main4_middle_content .main3_middle .m3_tab_main > li ul .m3_li1 span {
  display: inline-block;
  width: 40px;
  height: 24px;
  color: #fff;
  background: #f24854;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}
#main4_box .main4_middle_content .main4_m_right {
  float: left;
  width: 480px;
  height: 100%;
  margin-left: 20px;
  overflow: hidden;
  position: relative;
  background: #FEFEFE;
}
#main4_box .main4_middle_content .main4_m_right h4 {
  position: absolute;
  writing-mode: tb-rl;
  line-height: 24px;
  color: #3c3c3c;
  font-weight: 400;
  top: 69px;
  left: 33px;
  font-size: 24px;
  z-index: 1;
  letter-spacing: 2px;
  width: 24px;
  text-align: center;
}
#main4_box .main4_middle_content .main4_m_right h4:before {
  top: -49px;
  content: "";
  position: absolute;
  width: 1px;
  left: 49%;
  background: #e8e8e8;
  height: 38px;
}
#main4_box .main4_middle_content .main4_m_right h4:after {
  bottom: -44px;
  content: "";
  position: absolute;
  width: 1px;
  left: 49%;
  background: #e8e8e8;
  height: 38px;
}
#main4_box .main4_middle_content .main4_m_right .brand-box {
  position: relative;
  height: 190px;
  padding: 23px 20px 23px 84px;
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_ul {
  position: relative;
  height: 190px;
  overflow: hidden;
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_ul li {
  cursor: pointer;
  display: none;
  width: 376px;
  height: 190px;
  overflow: hidden;
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_ul li img {
  width: 100%;
  height: 100%;
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_nav {
  position: absolute;
  height: 40px;
  width: 376px;
  left: auto;
  right: 20px;
  bottom: 23px;
  text-align: center;
  font-size: 0;
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_nav li {
  cursor: pointer;
  position: relative;
  float: left;
  padding: 0;
  width: 94px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.5);
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_nav li a {
  color: #8B8989;
}
#main4_box .main4_middle_content .main4_m_right .brand-box .m4_banner_nav li i {
  position: absolute;
  width: 1px;
  height: 9px;
  right: 0;
  top: 50%;
  margin-top: -4px;
  background: #8b8989;
}
#main4_box .main4_middle_content .main4_m_right .link-list {
  background: #eaf1fa;
  margin-top: -1px;
  position: relative;
  overflow: hidden;
}
#main4_box .main4_middle_content .main4_m_right .link-list li {
  float: left;
  width: 95px;
  height: 71px;
  line-height: 71px;
  margin-left: -1px;
  position: relative;
  border-top: solid 1px #f5f7f9;
  border-left: solid 1px #f5f7f9;
  text-align: center;
}
#main4_box .main4_middle_content .main4_m_right .link-list li a {
  position: relative;
  display: block;
  color: #3c3c3c;
  line-height: 71px;
}
#main4_box .main4_middle_content .main4_m_right .link-list li a .ib-txt {
  padding-top: 16px;
  width: 30px;
  line-height: 18px;
  font-size: 14px;
  border-bottom: solid 2px transparent;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
#main4_box .main4_middle_content .main4_m_right .link-list li a .b_line {
  position: absolute;
  bottom: -3px;
  left: 47px;
  width: 0px;
  height: 2px;
  background: #F24854;
}
#main4_box .main4_middle_content .main4_m_right .link-list li a:hover {
  color: #F24854;
}
#main4_box .main4_bottom_content {
  height: 230px;
  position: relative;
  width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
}
#main4_box .main4_bottom_content h4 {
  float: left;
  margin-right: 20px;
  color: #d8e8fb;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  height: 60px;
  width: 190px;
  padding: 85px 0;
  background-color: #3b8bed;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-image: url(../img/all.png);
}
#main4_box .main4_bottom_content .role_tab_box {
  position: relative;
  z-index: 1;
  float: left;
  width: 1190px;
  height: 100%;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab {
  overflow: hidden;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li {
  height: 230px;
  width: 87px;
  overflow: hidden;
  position: relative;
  float: left;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt {
  background: #F24854;
  display: block;
  width: 87px;
  position: relative;
  height: 230px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt span {
  position: absolute;
  top: 90px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  left: 50%;
  width: 22px;
  margin-left: -11px;
  letter-spacing: 2px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt .group-icon {
  position: absolute;
  width: 60px;
  height: 58px;
  left: 50%;
  margin-left: -30px;
  top: 20px;
  background-repeat: no-repeat;
  background-position: -60px -230px;
  background-image: url(../img/all.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt .group-icon_mo {
  position: absolute;
  width: 60px;
  height: 58px;
  left: 50%;
  margin-left: -30px;
  top: 20px;
  background-repeat: no-repeat;
  background-position: -120px -230px;
  background-image: url(../img/all.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt .group-icon_xian {
  position: absolute;
  width: 60px;
  height: 58px;
  left: 50%;
  margin-left: -30px;
  top: 20px;
  background-repeat: no-repeat;
  background-position: 0px -230px;
  background-image: url(../img/all.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt .group-circle {
  position: absolute;
  width: 8px;
  height: 9px;
  left: 50%;
  margin-left: -4px;
  top: 89px;
  display: none;
  background-repeat: no-repeat;
  background-position: -404px -22px;
  background-image: url(../img/all.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt .i-triangle {
  position: absolute;
  top: 50%;
  right: -16px;
  border-width: 8px;
  margin-top: -8px;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #f24854;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt-01 {
  background: #3b8bed;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt-02 {
  background: #499df5;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-txt-03 {
  background: #3b8bed;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item {
  height: 230px;
  position: absolute;
  left: 87px;
  width: 0;
  top: 0;
  background: #f5f9ff;
  overflow: hidden;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li {
  height: 230px;
  width: 78px;
  overflow: hidden;
  position: relative;
  float: right;
  transition: all .3s;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-item {
  width: 461px;
  position: absolute;
  right: 77px;
  top: 0;
  background-color: #f5f9ff;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-item .role-group {
  display: block;
  font-size: 16px;
  position: absolute;
  width: 230px;
  top: 45px;
  left: 213px;
  color: #3c3c3c;
  font-weight: 700;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-item dl {
  width: 230px;
  position: absolute;
  top: 90px;
  left: 213px;
  color: #3c3c3c;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-item dl dt {
  font-size: 16px;
  font-weight: 700;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-item dl dd {
  font-size: 14px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-item dl dd a {
  color: #3C3C3C;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-txt {
  float: right;
  width: 76px;
  margin-right: 2px;
  height: 228px;
  border: solid 1px #fff;
  margin-left: -1px;
  position: relative;
  background: #f5f9ff;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-txt .role-name {
  writing-mode: tb-rl;
  position: absolute;
  top: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #3c3c3c;
  left: 50%;
  width: 16px;
  margin-left: -8px;
  letter-spacing: 2px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-txt .role-img {
  position: absolute;
  width: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: 22px;
  left: 0;
  height: 128px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li .role-txt .role-line {
  display: block;
  position: absolute;
  left: -1px;
  top: 20px;
  width: 1px;
  height: 49px;
  background: #bfd0e5;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul .w538 {
  width: 538px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(1) .role-item {
  background-image: url(../img/Terran_06.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(1) .role-img {
  background-image: url(../img/small_06.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(2) .role-item {
  background-image: url(../img/Terran_05.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(2) .role-img {
  background-image: url(../img/small_05.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(3) .role-item {
  background-image: url(../img/Terran_04.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(3) .role-img {
  background-image: url(../img/small_04.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(4) .role-item {
  background-image: url(../img/Terran_03.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(4) .role-img {
  background-image: url(../img/small_03.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(5) .role-item {
  background-image: url(../img/Terran_02.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(5) .role-img {
  background-image: url(../img/small_02.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(6) .role-item {
  background-image: url(../img/Terran_01.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item ul li:nth-child(6) .role-img {
  background-image: url(../img/small_01.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(1) .role-item {
  background-image: url(../img/Terran_12.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(1) .role-img {
  background-image: url(../img/small_12.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(2) .role-item {
  background-image: url(../img/Terran_11.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(2) .role-img {
  background-image: url(../img/small_11.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(3) .role-item {
  background-image: url(../img/Terran_10.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(3) .role-img {
  background-image: url(../img/small_10.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(4) .role-item {
  background-image: url(../img/Terran_09.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(4) .role-img {
  background-image: url(../img/small_09.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(5) .role-item {
  background-image: url(../img/Terran_08.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(5) .role-img {
  background-image: url(../img/small_08.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(6) .role-item {
  background-image: url(../img/Terran_07.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .mo li:nth-child(6) .role-img {
  background-image: url(../img/small_07.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(1) .role-item {
  background-image: url(../img/Terran_18.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(1) .role-img {
  background-image: url(../img/small_18.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(2) .role-item {
  background-image: url(../img/Terran_17.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(2) .role-img {
  background-image: url(../img/small_17.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(3) .role-item {
  background-image: url(../img/Terran_16.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(3) .role-img {
  background-image: url(../img/small_16.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(4) .role-item {
  background-image: url(../img/Terran_15.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(4) .role-img {
  background-image: url(../img/small_15.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(5) .role-item {
  background-image: url(../img/Terran_14.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(5) .role-img {
  background-image: url(../img/small_14.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(6) .role-item {
  background-image: url(../img/Terran_13.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .group-item .xian li:nth-child(6) .role-img {
  background-image: url(../img/small_13.png);
}
#main4_box .main4_bottom_content .role_tab_box .role_tab li .w928 {
  width: 928px;
}
#main4_box .main4_bottom_content .role_tab_box .role_tab .w1016 {
  width: 1016px;
}

#floor_box {
  width: 100%;
  height: 786px;
  overflow: hidden;
  background-image: url(../img/bg_bttom.webp);
}
#floor_box .floor_top {
  width: 1400px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#floor_box .floor_top .west-01 {
  position: absolute;
  width: 200px;
  height: 180px;
  left: 50%;
  margin-left: -398px;
  top: 352px;
  background-image: url(../img/悟空.png);
  background-repeat: no-repeat;
  background-position-x: 0;
}
#floor_box .floor_top .west-02 {
  position: absolute;
  width: 200px;
  height: 180px;
  left: 50%;
  margin-left: -198px;
  top: 356px;
  background-image: url(../img/八戒.png);
  background-repeat: no-repeat;
  background-position-x: 0;
}
#floor_box .floor_top .west-03 {
  position: absolute;
  width: 170px;
  height: 240px;
  left: 50%;
  margin-left: -11px;
  top: 326px;
  background-image: url(../img/师傅.png);
  background-repeat: no-repeat;
  background-position-x: 0;
}
#floor_box .floor_top .west-04 {
  position: absolute;
  width: 210px;
  height: 200px;
  left: 50%;
  margin-left: 198px;
  top: 372px;
  background-image: url(../img/沙僧.png);
  background-repeat: no-repeat;
  background-position-x: 0;
}
#floor_box .floor_top .copybottom {
  border-top: solid 1px #a0b7c7;
  width: 968px;
  margin: 0 auto;
  padding: 20px 0 40px;
  margin-top: 550px;
  color: #3c3c3c;
  overflow: hidden;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner {
  width: 845px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 0 10px;
  font-size: 12px;
  font-family: SimSun;
  line-height: 20px;
  display: block;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-logo {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  min-width: 280px;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-logo a {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-logo a img {
  padding-top: 5px;
  border: 0;
  vertical-align: middle;
  padding-left: 15px;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-nav {
  display: inline-block;
  vertical-align: top;
  padding-left: 6px;
  position: relative;
  z-index: 1;
  font-family: SimSun;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-nav .nie-cn-nav-i1 {
  display: block;
  font-style: normal;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-nav .nie-cn-nav-i2 {
  height: 28px;
  line-height: 28px;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-nav .nie-cn-nav-i2 a {
  display: inline-block;
  padding: 2px;
  color: #fff;
  background-color: #610000;
  position: absolute;
  z-index: 2;
  right: 20px;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  top: 21px;
}
#floor_box .floor_top .copybottom .nie-copyright-new-inner .nie-cn-part2 {
  padding-top: 10px;
  line-height: 24px;
  color: #333333;
}

.banner_active {
  background: #3b8bed !important;
  color: #fefefe !important;
}

.tab_active {
  color: #BC2E2E !important;
}

.show {
  display: block !important;
}

.m3_tab_active {
  color: #f24854 !important;
}

.m4_show {
  display: block !important;
  background: #3b8bed !important;
}

.m4_show a {
  color: #fff !important;
}

.role_show .role-txt {
  border: 1px solid #f5f9ff !important;
  border-right: 1px solid #fff !important;
}

.w1016 {
  width: 1016px !important;
}

.w1016 .group-txt {
  background: #F24854 !important;
}
