#wonderful_box {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#wonderful {
  width: 100%;
}
#wonderful h4 {
  color: #23b0eb;
  font-size: 22px;
  font-weight: 700;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist {
  font-size: 0;
  padding: 25px 0 50px;
  border-bottom: 1px solid #e2e3e3;
  overflow: hidden;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .news-info {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .news-info a {
  color: #4d5158;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .news-info a h5 {
  color: #000;
  font: 400 20px/28px "Microsoft Yahei";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  width: 100%;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .news-info a h5 span {
  display: block;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .news-info a h5 .time {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 4px;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .img-wrap {
  font-size: 0;
  float: left;
  padding-right: 0;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .img-wrap a {
  display: block;
  overflow: hidden;
}
#wonderful .wonderful-wrap .won-wrapper ul .newslist .img-wrap a .img_box {
  margin-right: 28px;
  display: inline-block;
  width: 169px;
  height: 109px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
